

body{
    background-color: rgb(216, 228, 225);
    font-size: 20px;
}


.timer {
    margin-top: 20px;
    margin-left: 20px;
display: flex;
}
.field {
display: flex;
flex-direction: column;
}
.value {

}
.label {

}

