

body{
    font-size: 20px;
}


.timer {
    margin-top: 20px;
    margin-left: 20px;
display: flex;
}
.field {
display: flex;
flex-direction: column;
}


.hiddenBtn{
    background-color: #f5efef;
    color: #e3d9d9;
    border: 1px solid;
}